extends layout


block content
	h1 Quizzes
	for quiz in quizzes	
		table(border="1", cellpadding="5")
			tr
				td(colspan="2") Quiz Name: #{quiz.name}
				td Tour: #{quiz.tour}
			tr
				td Questions
				td Answers
				td Answer Key	
				- each q in quiz.questions
					tr
						td= q.text
						td
							- var n = 1
							while n < 6
								|Answer #{n}: #{q.answers[n]}
								br
								- n++
						td Answer: #{q.answerKey}
		form(method="post", action="/editQuiz")
			input(type='hidden', name='quizID', value=quiz.id)
			input(type="submit", value='Edit')
		form(method="post", action="/deleteQuiz")
			input(type='hidden', name='quizID', value=quiz.id)
			input(type="submit", value='Delete')
		p
	a(href='/addQuiz') Add a Quiz
  
