extends layout


block content
	h1 Quizzes
	a(href='/addQuiz') Add a Quiz
	br
	br
	//Pulls the quiz data from database in quizzes and then iterates through, each quiz placed into the quiz variable
	for quiz in quizzes
		//Create a table
		table(border="1", cellpadding="5") 
			tr
				//One 2 col cell for the quiz name and tour, #{} notation prints out variables inside it
				td(colspan="2") Quiz Name: #{quiz.name}
				td Tour: #{quiz.tour}
			tr
				//Row for questions
				td Questions
				td Answers
				td Answer Key	
				//Each loop through question array, each question placed into q
				- each q in quiz.questions
					tr
						//Print out question name
						td= q.text
						td
							//While loop 1-5 to print out all answers
							- var n = 1
							while n < 6
								//| indicates text, prints out answer #n: answer text
								|Answer #{n}: #{q.answers[n]}
								br
								- n++
						td Answer: #{q.answerKey}
		//Forms below to post edit and delete buttons
		form(method="post", action="/editQuiz")
			input(type='hidden', name='quizID', value=quiz.id)
			input(type="submit", value='Edit')
		form(method="post", action="/deleteQuiz")
			input(type='hidden', name='quizID', value=quiz.id)
			input(type="submit", value='Delete')
		p